table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: rgb(0 0 0);
    color: white;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}