* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */
.box {
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

:root {
    --padding: 10px;
    --background-color: #333;
}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/* This is a comment */
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;/% shorthand for white %/
}

h1 {
    color: steelblue;
    text-align: center;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 auto;
    display: block;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}